/* Makes scrolling to points on page smooth */
/* The overflow stuff keeps it from being to wide on mobile. There was this really wacko bug... */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}


@media only screen and (max-width: 600px) {
    .yt-embed {
        width: 355px;
        height: 200px;
    }
}

@media only screen and (min-width: 600px) {
    .yt-embed {
        width: 480px;
        height: 270px;
    }
}


@media only screen and (min-width: 1366px) {
    .yt-embed {
        width: 960px;
        height: 480px;
    }
}

@media only screen and (max-width: 1024px) {
    .responsive-top-pad {
        padding-top: 52px;
    }
}

@media only screen and (min-width: 1024px) {
    .responsive-top-pad {
        padding-top: 56px;
    }
}
